* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: #70628a;
    padding: 16px 0;
    color: gainsboro;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a {
    color: gainsboro;
    text-decoration: none;
}

.container {
    width: 1080px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /*height: 180px;*/
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;

}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: rgb(138, 138, 252);
    color: aliceblue;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#sports {
    background-color: rgb(0, 255, 0, 0.1);
}

#sports .articles article a {
    background-color: rgb(56, 117, 121);
}

#economy {
    background-color: #f8f7ac;
}

#economy .articles article a {
    background-color: rgb(253, 171, 19);
}

#entretenimento {
    background-color: rgb(243, 107, 89);
}

#entretenimento .articles article a {
    background-color: brown;
}

#tecnologia {
    background-color: #70628a;
}